
:root {
  --form-control-color: rgb(146, 5, 78);
  --box-shadow-one: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#locationform {
  width: 400px;
  /* background-color: rgb(221, 200, 204); */
  padding: 30px 20px 20px 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 1em;
  /* box-shadow: var(--box-shadow-one); */
}

.spantwo {
  grid-column: 1 / 3;
}

h2 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  /* letter-spacing: .3rem; */
  text-align: center;
}

.formlabel {
  color: rgb(10, 10, 17);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.3rem;
  font-weight:400;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-top: 10px;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.125em solid currentColor;
  border-radius: 50%;
  margin: 0px;
  /* To align with top line of text if label breaks */
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* adjacent sibling combinator */
.form-control + .form-control {
  margin-top: .5em;
  /* margin-top: 0px; */
}

#unitsblock, #languageblock, #locationblock {
  /* border: 1px solid black; */
  padding: 5px;
  /* background-color: rgb(175, 245, 11); */
  /* box-shadow: var(--box-shadow-one); */
  border-radius: 10px;
}

#errorblock {
  background-color: green;
  font-size: 1.5em;
}

#locationsearch {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 10px;
  padding: 2px 5px 2px 5px;
  font-family: system-ui, sans-serif;
  font-size: 1.3rem;
  font-weight:400;
  line-height: 1.1;
}

#searchsubmitbutton {
  text-transform: capitalize;
  text-align: center;
  max-width: 80%;
  font-size: 1.5em;
  margin: auto;  
  padding: 4px 16px 4px 16px;
  border: 1px solid gray;
  background-color:rgb(255, 255, 255);
  border-radius: 20px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  display: inline-flex;
  align-items: center; 
  /* box-shadow: var(--box-shadow-one); */
}

#searchsubmitbutton:hover {
  background-color: lightgray;
}

#searchsubmitbutton:active {
  background-color: black;
  color: white;
  box-shadow: 0px 1px 10px 1px rgba(227, 247, 3, 0.4);
}

label.form-control {
  text-transform: uppercase;
}




