
:root {
  --form-control-color: rgb(27, 52, 235);
  --box-shadow-one: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.mainheader {
  width: 100%;
  padding: 5px 5px 5px 10px;
  /* border-bottom: 1px solid black; */
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3rem;
}

#locationform {
  width: 100%;
  /* background-color: rgb(221, 200, 204); */
  padding: 0px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: flex-start;
  /* grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto; */
  /* gap: 1em; */
  /* box-shadow: var(--box-shadow-one); */
  border-bottom: 1px solid black;
}

/* .spantwo {
  grid-column: 1 / 3;
} */

h2 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  justify-content: space-between;
  /* letter-spacing: .3rem; */
  text-align: center;
}

.formlabel {
  color: rgb(37, 37, 37);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.1;
  margin-right: 10px;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.3rem;
  font-weight:400;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  /* margin-top: 10px; */
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.125em solid currentColor;
  border-radius: 50%;
  margin: 0px;
  /* To align with top line of text if label breaks */
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* adjacent sibling combinator */
.form-control + .form-control {
  margin-left: .7em;
}

.formblock {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: start;
  padding: 6px 25px 6px 5px;
}

#submitblock {
  width: 100%;
}

#errorblock {
  /* background-color: green; */
  font-size: 1.5em;
  height: 35px;
  border-bottom: 1px solid black;
  
}

#locationblock {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

#locationsearch {
  /* width: 100%; */
  font-size: 1.5rem;
  padding: 2px 5px 2px 5px;
  font-family: system-ui, sans-serif;
  font-size: 1.3rem;
  font-weight:400;
  line-height: 1.1;
}

#searchsubmitbutton {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5em;
  /* margin: auto;   */
  padding: 3px 16px 3px 16px;
  border: 1px solid gray;
  background-color:rgb(255, 255, 255);
  border-radius: 18px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  display: inline-flex;
  align-items: center; 
  box-shadow: 0px 0px 16px .1px var(--form-control-color);
}

#searchsubmitbutton:hover {
  background-color: lightgray;
}

#searchsubmitbutton:active {
  background-color: black;
  color: white;
  box-shadow: 0px 1px 10px 1px rgba(227, 247, 3, 0.4);
}

label.form-control {
  text-transform: uppercase;
  margin-top: 5px;
}

/* #locationblock {
  background-color: rgb(234, 186, 186);
}

#unitsblock {
  background-color: rgb(230, 225, 191);
}

#languageblock {
  background-color: rgb(219, 242, 216);
}

#submitblock {
  background-color: azure;
} */

#searchbarerror {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 3px 3px 3px 20px;
  font-style: italic;
}

#searchbarerror.active {
  background-color: hotpink;
}





